<?xml version="1.0"?>

<model>
  <name>washing-machine-dae</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  
  <author>
    <name>Tokyo Opensource Robotics Kyokai Association</name>
    <email>info@opensource-robotics.tokyo.jp</email>
  </author>
  
  <description>
    A Model Example of a Washing Machine with a DAE file.
  </description>
  
</model>
